body,
html {
  min-height: 100vh;
  color: white;
}

select,
input {
  color: white;
  &::placeholder {
    color: #aeaeae;
  }
}

#root {
  min-height: 100vh;
  background-image: url("/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.background {
  position: absolute;
  min-height: 100vh;
  z-index: -1;
  opacity: 0.6;
}

.chakra-container {
  max-width: 960px;
}

.loading svg {
  color: rgb(181 181 181);
  height: 50px;
  width: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
